/*cant see */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

/* Off style link */
.link {
  text-decoration: none;
}

/* Off style list */
.list {
  list-style-type: none;
}

/* margin-padding off */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* Logo */
.logo {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923076923;
  }
}

/* Logo accent */
.logo--black {
  color: #000000;
}

.logo--white {
  color: #ffffff;
}

/* ===========HEADER=========== */
.header {
  border-bottom: 1px solid #ECECEC;
}

.header__wrap {
  display: flex;
  align-items: center;
}

.menu__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu__list {
    display: flex;
  }
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__logo {
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

/* Menu nav */
.menu__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.menu__link:hover, .menu__link:focus {
  color: #2196f3;
}

.menu__button,
.mob-menu__button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.menu__button:hover, .menu__button:focus,
.mob-menu__button:hover,
.mob-menu__button:focus {
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .menu__button,
.mob-menu__button {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #ffffff;
}
.mob-menu .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow: auto;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu__button {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mob-menu__item + .mob-menu__item {
  margin-top: 32px;
}

.mob-menu__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}
.mob-menu__link:hover, .mob-menu__link:focus {
  color: #2196f3;
}

@media screen and (orientation: landscape) {
  .mob-menu__bottom {
    margin-top: 40px;
  }
}

.mob-menu-contacts__item + .mob-menu-contacts__item {
  margin-top: 15px;
}

.mob-menu-contacts__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #757575;
}
.mob-menu-contacts__link:hover, .mob-menu-contacts__link:focus {
  color: #2196f3;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.8181818182;
  letter-spacing: 0.02em;
}

.mob-menu-soc__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
}
@media screen and (orientation: landscape) {
  .mob-menu-soc__list {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 479px) {
  .mob-menu-soc__list {
    justify-content: space-around;
  }
}

.mob-menu-soc__item:not(:last-child) {
  margin-right: 10px;
}
@media screen and (max-width: 479px) {
  .mob-menu-soc__item:not(:last-child) {
    margin-right: 5px;
  }
}

.mob-menu-soc__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mob-menu-soc__link:hover, .mob-menu-soc__link:focus {
  color: #757575;
}
.mob-menu-soc__link::after {
  content: "|";
  color: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}
@media screen and (max-width: 479px) {
  .mob-menu-soc__link {
    font-weight: 700;
    font-size: 2.3vw;
    line-height: 1.3333333333;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 479px) {
  .mob-menu-soc__link {
    margin-left: 5px;
  }
}

/*Active */
.active {
  color: #2196f3;
  position: relative;
}
@media screen and (min-width: 768px) {
  .active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}

/* Contacts */
.contacts {
  display: none;
  margin-left: auto;
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    align-items: center;
  }
}

.contacts__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
}
@media screen and (min-width: 768px) {
  .contacts__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.1428571429;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.contacts__icon {
  fill: currentColor;
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .header__icon {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .header__icon {
    margin-right: 10px;
  }
}

/* Button */
.btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  border: transparent;
  padding: 10px 32px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: #2196f3;
  color: #ffffff;
}
.btn:hover, .btn:focus {
  background-color: #188ce8;
}

.adress__item:not(:last-child) {
  margin-bottom: 8px;
}

.adress__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}
.adress__link:hover, .adress__link:focus {
  color: #2196f3;
}

.adress__link--white {
  color: #ffffff;
}

.footer__join {
  margin-top: 60px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__join {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__join {
    margin-left: 70px;
  }
}

.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.join__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.join__item + .join__item {
  margin-left: 10px;
}

.join__link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #ffffff;
}

.join__link:hover,
.join__link:focus {
  background-color: #2196f3;
}

.subscribe__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe__title {
    text-align: left;
  }
}

.subscribe__input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .subscribe__input {
    display: block;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    display: inline;
    padding-left: 16px;
    width: 358px;
  }
}

.subscribe__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 29px;
  padding-right: 28px;
  fill: currentColor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1200px) {
  .subscribe__btn {
    display: inline;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__btn {
    margin-left: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__send {
    margin-left: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__send {
    vertical-align: middle;
  }
}

/* ==========Portfolio =================*/
.works {
  padding-top: 60px;
  padding-bottom: 60px;
}
.works__btn:hover, .works__btn:focus {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 1200px) {
  .works {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.works__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .works__list {
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .works__list {
    margin-bottom: 50px;
  }
}

.works__item {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .works__item {
    margin-bottom: 0;
  }
}

.works__item:not(:last-child) {
  margin-right: 8px;
}

.works__btn {
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border-radius: 4px;
  border: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  cursor: pointer;
  background: #f5f4fa;
  color: #212121;
}

.gallery {
  margin-bottom: -30px;
}
.gallery__link:hover, .gallery__link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

.gallery__item {
  max-width: 450px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .gallery__item {
    flex-basis: calc(50% - 30px);
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item {
    flex-basis: calc(33.3333333333% - 30px);
  }
}

.gallery__link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__wrap {
  position: relative;
  overflow: hidden;
}

.gallery__cover-text {
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 0;
  left: 0;
  height: 294px;
  padding-top: 49px;
  padding-right: 24px;
  padding-bottom: 77px;
  padding-left: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
}
.gallery__link:hover .gallery__cover-text, .gallery__link:focus .gallery__cover-text {
  transform: translateY(0);
}
@media screen and (max-width: 380px) {
  .gallery__cover-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5555555556;
  }
}
@media screen and (min-width: 768px) {
  .gallery__cover-text {
    padding-top: 49px;
    padding-bottom: 77px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__cover-text {
    padding-top: 63px;
    padding-bottom: 63px;
  }
}

.gallery__ptext {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.gallery__capt {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.gallery__text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
}

/* =============FOOTER====================== */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__wrap .footer__wrap--tablet {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrap {
    display: flex;
    align-items: baseline;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__subscribe {
    margin-left: 70px;
  }
}/*# sourceMappingURL=portfolio.css.map */