.container{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

ul{
margin: 0;
padding: 0;
list-style: none;
}

.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    /* display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px; */
}

.list-item{
    /* width: 370px; */
    background-color: teal;
    border: 1px solid green;
    /* margin-right: 30px;
    margin-bottom: 30px; */
}
