/* =========Section our advantage========== */
.advantage {
    padding-top: 60px;
    padding-bottom: 60px;

    @include desktop{
        padding-top: $padding94;
        padding-bottom: $padding94;
    }
}

.advantage__list {
    @include tablet{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -30px;
        margin-right: -30px;
    }
}

.advantage__item:not(:last-child) {
    margin-bottom: 30px;

    @include tablet{
        margin-right: $padding30;
    }
}

.advantage__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 450px;
    height: 120px;

    background-color: $back-button;

    @include tablet{
        max-width: 354px;
    }

    @include desktop{
        width: 270px;
    }
}

.advantage__caption {
    max-width: 450px;
    margin-top: $margin30;
    margin-bottom: $margin10;

    @include font(null, 14px, 16/14, null);
    text-transform: uppercase;
    text-align: center;

    color: var(--main-text);

    @include tablet {
        max-width: 354px;
        text-align: left;
    }

    @include desktop{
        max-width: 270px;
    }
}

.advantage__text {
    max-width: 450px;

    @include font(400, 14px, 24/14, null);
    
    color: $secondary-text;

    @include tablet {
        max-width: 354px;
    }
    
    @include desktop{
        max-width: 270px;
    }
}