/* ============Regular customers===========*/
.customers {
    background-color: $secondary-accent;
    padding-top: 60px;
    padding-bottom: 60px;

    &__link:hover {
        fill: $link-accent;
        border: 1px solid $link-accent;
    }

    @include desktop{
        padding-top: $padding94;
        padding-bottom: $padding94;
    }
}

.customers__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: -30px;
    margin-left: -30px;

    @include desktop {
        margin-bottom: 0;
        flex-wrap: nowrap;
    }
}

.customers__item {
    width: calc(100% / 2 - $margin30);
    
    margin-bottom: $margin30;
    margin-left: $margin30;

    @include tablet {
        width: calc(100% / 3 - $margin30);
    }

    @include desktop {
        width: 100%;
    }
}

.customers__link {
    transition: fill $duration250ms $time-function,
    border $duration250ms $time-function;

    max-width: 210px;
    height: 92px;
    border: 1px solid $icon-color;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $icon-color;

    @include tablet{
        max-width: 226px;
    }
    @include desktop {
        width: 170px;
    }
}