/* =============FOOTER====================== */
.footer {
    background-color: $secondary-back;
    padding-top: $padding60;
    padding-bottom: $padding60;
}

.footer__wrap {
    @include tablet{
    .footer__wrap--tablet {
        display: flex;
        align-items: baseline;
        justify-content: space-around;
        margin-bottom: 60px;
    }
    }

    @include desktop{
    display: flex;
    align-items: baseline;
    }
}

.footer__logo {
    display: block;
    margin-bottom: $margin20;

    text-align: center;
}

.footer__subscribe {
    @include desktop{
        margin-left: 70px;
    }
}