/* ==========Section our team ===================*/
.team {
  background-color: $back-button;
    padding-top: 60px;
    padding-bottom: 60px;

  &__soc-link:hover,
  &__soc-link:focus {
    background-color: $link-accent;
    fill: $secondary-accent;
  }

  @include desktop{
    padding-top: $padding94;
    padding-bottom: $padding94;
  }
}

.team__list {
  @include tablet{
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-1 * $padding30);
    margin-bottom: calc(-1 * $padding30);
  }
}

.team__item {
  max-width: 450px;
  margin-bottom: $padding30;


  background-color: $secondary-accent;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);

  @include tablet{
    max-width: 354px;
    flex-basis: calc(100% / 2 - $padding30);
    margin-right: $padding30;
  }

  @include desktop{
    width: 270px;
    height: 428px;
    flex-basis: calc(100% / 4 - $padding30);
  }
}

.team__padding {
  padding: $padding30;
  text-align: center;
}

.team__caption {
  margin-bottom: $margin10;
  @include font(500, 16px, 19/16, null);
  color: $main-text;
}

.team__text {
  margin-bottom: $margin16;
  @include font(400, 16px, 19/16, null);
  color: $secondary-text;
}

.team__soc-list {
  display: flex;
  justify-content: center;
}

.team__soc-item + .team__soc-item {
  margin-left: $margin10;
}

.team__soc-link {
  transition: background-color $duration250ms $time-function,
    fill $duration250ms $time-function;

  width: 44px;
  height: 44px;
  background-color: $secondary-accent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: $icon-color;
}