/*Active */
.active {
    color: $link-accent;
    position: relative;
    
    @include tablet {
    &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;

        width: 100%;
        height: 4px;
        border-radius: 2px;

        background-color: $link-accent;
    }
    }
}
