/* Contacts */
.contacts {
    display: none;

    margin-left: auto;

    &__link:hover,
    &__link:focus {
        color: $link-accent;
    }

    @include tablet {
        display: block;
    }

    @include desktop {
        display: flex;
        align-items: center;
    }
}

.contacts__link {
    transition: color $duration250ms $time-function;
    color: $secondary-text;

    @include tablet{
        @include font(500, 12px, 14/12, 0.02em);
    }

    @include desktop{
        @include font(null, 14px, 16/14, null);
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.contacts__item:not(:last-child) {
    @include tablet{
        margin-bottom: $margin10;
    }
    
    @include desktop{
        margin-right: $margin50;
        margin-bottom: 0;
    }
}

.contacts__icon {
    fill: currentColor;
    vertical-align: middle;
}

.header__icon{
    @include tablet{
        margin-right: 8px;
    }

    @include desktop{
        margin-right: $margin10;
    }
}