.feedback {
    padding: $margin40;

    &__input:focus {
        border-color: $link-accent;
    }

    &__text::placeholder {
    
        @include font(null, 14px, 1.14, 0.01em);

        color: $placeholder-color;
    }
}

.feedback__title {
    margin-bottom: $margin12;

    color: $main-text;

    @include font(700, 20px, 30/20, null);
    text-align: center;
    
    @include desktop{
        @include font(700, 20px, 23/20, null);
    }
}

.feedback__label {
    @include font(null, 12px, 1.16, 0.01em);

    color: $secondary-text;
}

.feedback__wrap {
    position: relative;
    margin-bottom: 10px;
}

.feedback__input {
    width: 100%;
    height: $margin40;
    border: 1px solid $input-border;
    border-radius: 4px;
    padding-left: $padding32;
    cursor: pointer;
    background-color: transparent;
    outline: none;
}

.feedback__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;

    .feedback__input:focus + & {
        fill: $link-accent;
    }
}

.feedback__text {
    width: 100%;
    min-height: 120px;
    border: 1px solid $input-border;
    border-radius: 4px;
    padding: $margin12 $margin16;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    resize: none;
}

.feedback__btn {
    display: block;
    margin: 0 auto;
}