/* ===========HEADER=========== */
.header{
    border-bottom: 1px solid $border-accent;
}

.header__wrap {
    display: flex;
    align-items: center;
}

.menu__list {
    display: none;

    @include tablet {
        display: flex;
    }
}

.header__item:not(:last-child) {
    margin-right: $margin50;
}

.header__logo {
    margin-right: auto;

    @include tablet{
        margin-right: 88px;
    }

    @include desktop{
        margin-right: 93px;
    }
}

/* Menu nav */
.menu__link {
    transition: color $duration250ms $time-function;

    display: block;
    padding-top: $padding32;
    padding-bottom: $padding32;

    @include font(500, 14px, 1.14, 0.02em);

    color: $main-text;

    &:hover,
    &:focus {
        color: $link-accent;
}
}