.footer__join {
    margin-top: 60px;
    margin-bottom: 60px;

    @include tablet {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    @include desktop {
        margin-left: 70px;
    }
}

.join__title {
    @include font(700, 14px, 16/14, null);
    text-align: center;

    text-transform: uppercase;
    color: $secondary-accent;
    margin-bottom:$margin20;
}

.join__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.join__item+.join__item {
    margin-left: $margin10;
}

.join__link {
    transition: background-color $duration250ms $time-function;

    width: 44px;
    height: 44px;
    background-color: $bg-soc-link;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $secondary-accent;
}

.join__link:hover,
.join__link:focus {
    background-color: $link-accent;
}