/* Logo */
.logo {
    color: $link-accent;

    font-family: 'Raleway', sans-serif;

    @include font(700, 24px, 28/24, null);

    @include desktop{
        @include font(null, 26px, 31/26, null);
    }
}

/* Logo accent */
.logo--black {
    color: $firstly-accent;
}

.logo--white {
    color: $secondary-accent;
}