    
    $link-accent: #2196f3;
    $firstly-accent: #000000;
    $secondary-accent: #ffffff;
    $main-text: #212121;
    $secondary-text: #757575;
    $secondary-back: #2f303a;
    $hero-bg: #C4C4C4;
    $secbtn-color: #188ce8;
    $adress-color: rgba(255, 255, 255, 0.6);
    $bg-soc-link: rgba(255, 255, 255, 0.1);
    $input-border:rgba(33, 33, 33, 0.2);
    $placeholder-color:rgba(117, 117, 117, 0.5);
    $bg-modal: rgba(0, 0, 0, 0.2);
    $bg-modal-sec: rgba(0, 0, 0, 0.1);
    $border-accent: #ECECEC;
    $back-button: #f5f4fa;
    $sec-border-accent: #EEEEEE;
    $icon-color: #AFB1B8;
    $what-bg: rgba(47, 48, 58, 0.8);
    $portfolio-bg: rgba(33, 150, 243, 0.9);

    $margin9: 9px;
    $margin10: 10px;
    $margin12: 12px;
    $margin16: 16px;
    $margin20: 20px;
    $margin30: 30px;
    $margin40: 40px;
    $margin50: 50px;
    $margin93: 93px;

    $padding30: 30px;
    $padding32: 32px;
    $padding60: 60px;
    $padding94: 94px;
    $padding118:118px;
    $padding200: 200px;

    $duration250ms: 250ms;
    $time-function: cubic-bezier(0.4, 0, 0.2, 1);

    $mobile: 480px;
    $tablet: 768px;
    $desktop: 1200px;